.filter-select {  
  width: auto;
  height: 28px;
  gap: 8px;
  border-radius: 4px;
  padding: 8px;
}
.dropdown-container {
  position: absolute;
  min-width: inherit !important;
  width: inherit !important;
  left: 0;
  top: 100%;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}