.table-header-cell {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 0px;
    color: #515162;
}

.table-body-cell {
  width: 156px;
  height: 50px;
  min-width: 156px;
  padding-right: 6px;
  padding-left: 12px;
  background: #FFFFFF;
  color: #515162;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
}

.table-wrapper {
  width: auto;
  height: auto;
  gap: 10px;
}