.topbar-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.topbar-search-input {
  width: 400px;
  height: 32px;
  gap: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #D3D4DD;
}

