.sidebar-header {
  width: 100%;
  height: 57px;
  gap: 10px;
  opacity: 1;
  padding: 4px 16px;
}

.sidebar-header-container {
  width: 100%;
  height: 49px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #D3D4DD !important;
}

.sidebar-header-avatar-container {
  width: 120px;
  height: 41px;
  gap: 8px;
  opacity: 1;
}

.sidebar-header-avatar {
  background-color: black;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 4px;
  top: 6.07px;
  left: 4.19px;
}

.sidebar-header-avatar-text-container {
  width: 80px;  
  height: 41px;
  opacity: 1;
}

.sidebar-header-avatar-text-container-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  color: black !important;
}

.sidebar-header-avatar-text-container-subtitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0px;
  white-space: nowrap;
  color: #3A3A47 !important;
}

.sidebar-nav-section {
  width: 100%;
  height: auto;
  gap: 16px;
  opacity: 1;
  padding: 8px 16px;
}