@import "tailwindcss";
/* Hide number input arrows - Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide placeholder text inside date inputs (Chrome, Edge, Safari) */
input[type="date"]::-webkit-datetime-edit {
  color: transparent;
  display: none;
}

/* Show value when user selects a date */
input[type="date"]:not(:placeholder-shown)::-webkit-datetime-edit {
  color: black;
  display: block;
}

/* Firefox placeholder remove */
input[type="date"]::-moz-placeholder {
  opacity: 0;
}


@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(3px);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(3px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 1.2s ease-out forwards;
}

.table-pagination-divider {
  width: auto;
  height: 1px;
  color: #b3a9a93f !important;
}

.table-pagination {
  width: auto;
  height: 45px;
  gap: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.stats-bar {
  width: auto;
  height: 62px;
  gap: 16px;
  opacity: 1;
  padding-right: 16px;
  padding-left: 16px;
}

.stats-card {
  width: 154px;
  height: 62px;
  min-width: 120px;
  gap: 2px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 8px;
  border: 1px solid #CFDBE8 !important;
}

.stats-card-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  color: #1A1A1F !important;
}

.stats-card-title-container {
  min-width: 114px;
  height: 21px;
  gap: 8px;
  text-align: center;
}

.topbar {
  width: 100%;
  height: 44px;
  justify-content: space-between;
  padding: 6px 18px;
  border-bottom: 1px solid #F3F3F3;
}
