@import "tailwindcss";

/* Hide number input arrows - Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide placeholder text inside date inputs (Chrome, Edge, Safari) */
input[type="date"]::-webkit-datetime-edit {
  color: transparent;
  display: none;
}

/* Show value when user selects a date */
input[type="date"]:not(:placeholder-shown)::-webkit-datetime-edit {
  color: black;
  display: block;
}

/* Firefox placeholder remove */
input[type="date"]::-moz-placeholder {
  opacity: 0;
}

